<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Partida de Bautismo</title>
    <link rel="stylesheet" href="__STYLES_PATH__" />
  </head>
  <body>
    <div class="page">
      <div class="border-inside">
        <div class="container">
          <div class="img-container">
            <img src="data:image/png;base64,{{logoBase64}}" class="logo" />
          </div>
          <div class="content">
            <h1 class="title">FE DE BAUTISMO</h1>
            <div class="border-horizontal"></div>
            <p class="information">
              Partida de Bautismo de: <b>{{baptizedName}}</b>
              <br />
              El Infrascrito Párroco de El
              <u>Calvario de Ilobasco, Cabañas</u> CERTIFICA QUE: <br />
              En el Libro de Partidas de Bautismos de este Archivo Parroquial,
              (Libro
              <b><u>{{bookNumber}}</u></b> folio
              <b><u>{{folioNumber}}</u></b> se encuentra la que literalmente
              dice: <br />
              <i>
                <u>
                  En la Parroquia El Calvario, Ilobasco al {{dateInText}}.
                  Recibió El Sacramento del Bautismo:
                  <i><b>{{baptizedName}}</b></i
                  >, que nació {{birthNameInText}}, en
                  {{placeOfBirthWithPrefix}}. Hija de {{dadName}} y de
                  {{momsName}}. <br />
                  <b> Padrinos: </b> {{godparentsNames}}.
                  <br />
                  <b> Ministro: </b> {{ministerName}}
                  <br />
                  <b>Al Margen: </b> {{marginInformation}}
                </u>
                <br />
                <br />
                La presente es copia fiel del original, la que remito y expido
                en la oficina Parroquial a {{daysAfterMonthAndYear}}
              </i>
            </p>

            <div class="signature">
              <p>Pbro. Remberto Orlando Huezo</p>
              <p>Párroco</p>
            </div>
            <p><b>AUTENTICIDAD </b></p>
            <p class="authenticity">
              Se certifica que el sello de la Parroquia de
              <br />
              _______________________________________________
              <br />
              Y la firma del Párroco
              P.___________________________________________________ son
              auténticos
            </p>
            <div class="border-horizontal"></div>
            <p class="footer">
              Av. Carlos Bonilla N° 39, Barrio El Calvario, Ilobasco, Cabañas,
              El Salvador C. A.
              <br />
              Correo Electrónico: padre_huezocornejo@outlook.com
              <br />Teléfono: (503) 23890958
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
